@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: brown;
  background: rgb(59, 160, 167);
  border-radius: 5px;
}

/* ul {
  display: flex;
  justify-content: center;
} */

body {
  background: linear-gradient(
    to top,
    rgb(27, 41, 46) 0%,
    rgb(97, 121, 125) 30%,
    rgb(136, 169, 187) 70%,
    rgb(202, 241, 255) 100%
  );
  background-attachment: fixed;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 0px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding: 0px 20px;
  margin: 0%;
}

.item {
  background: linear-gradient(
    to top,
    rgb(194, 45, 0) 0%,
    rgb(196, 75, 10) 10%,
    rgb(244, 172, 134) 65%,
    rgb(255, 240, 215) 100%
  );
  border: 1px solid rgb(255, 172, 136);
  margin: 15px;
  padding: 30px;
  max-width: 200px;
  list-style-type: none;
  border-radius: 10px;
  box-shadow: -5px 5px 10px 0px black;
}

.item img {
  max-width: 200px;
  border-radius: 10px;
}


.list-section {
  margin-top: 180px;
}

